@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto");

/*

  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto', sans-serif;

*/

.about {
  font-family: "Open Sans", sans-serif;
}

html {
  overflow-x: hidden;
}

.App {
  text-align: center;
  font-family: "Roboto", sans-serif;
  margin-top: 5vh;
}

.carousel-wrapper {
  display: flex;
  justify-content: center;
}

.carousel-outer {
  display: flex;
  align-content: center;
}

.carousel-inner {
  display: flex;
}

.video-list {
  display: flex;
  list-style: none;
  width: 80vw;
  height: 33vh;
  justify-content: center;
}

video {
  width: 100% !important;
  height: 100%;
}

.carousel-item {
  display: flex;
  opacity: 0;
  width: 25vw; /**/
  z-index: 5;
  align-self: center;
}
.current {
  opacity: 1;
  z-index: 10;
  width: 35vw; /**/
  margin: initial;
}
.previous {
  left: 0px;
  filter: grayscale(100%);
}
.next {
  left: 700px;
  filter: grayscale(100%);
}

.previous,
.next {
  opacity: 0.4;
  transition: all 0.4s;
}
.current {
  transition: all 0.5s;
}

.carousel-item:not(.active) {
  width: 0px;
}

.arrow {
  width: 100px;
  height: 100px;
  align-self: center;
}

.flip-horizontally {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.play-button-wrapper {
  position: relative;
}

.play-button {
  position: absolute;
  top: 23%;
  left: 50%;
  width: 4vw;
  height: auto;
}

.debug {
  position: absolute;
  left: 50%;
}

.viewcontrols input[type="radio"] {
  -ms-transform: scale(2); /* IE 9 */
  -webkit-transform: scale(2); /* Chrome, Safari, Opera */
  transform: scale(2);
  margin: 5px;
}
.viewcontrols span {
  margin-left: 10px;
  margin-right: 10px;
}
