html {
  overflow-x: hidden;
}

.App {
  text-align: center;
}

.carousel {
  position: relative;
}
.carousel-item {
  opacity: 0;
  width: 300px;
  top: 200px;
  height: initial;
  z-index: 5;
  align-self: center;
  position: absolute;
}

.previous {
  /*opacity: 1;*/
  left: 0px;
  filter: grayscale(100%);
  /* transition: all 0.4s; */
}
.current {
  opacity: 1;
  top: 190px !important;
  left: 300px;
  z-index: 10;
  width: 400px;
  height: 200px;
  margin: initial;

  /* transition: all 0.5s; */
}
.next {
  /*opacity: 1;*/
  left: 700px;
  filter: grayscale(100%);
  /* transition: all 0.4s; */
}

.previous,
.next {
  opacity: 0.4;
  transition: all 0.4s;
}
.current {
  transition: all 0.5s;
}

.carousel-item:not(.active) {
}

.carousel {
  display: flex;
}

.arrow {
  width: 100px;
  height: 100px;
  align-self: center;
}

.about {
  margin-top: 400px;
}

.video-list {
  display: flex;
  list-style: none;
}

.flip-horizontally {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.play-button {
  position: absolute;
  height: 50%;
  top: 30%;
  left: 40%;
}
